@{
    Layout = null;

    int count = int.Parse(Request.QueryString["Count"]);
    string word = Request.QueryString["Word"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles.css" rel="stylesheet" />
    <title>Echo</title>
    <h1>Exercise-3 Echo</h1>
</head>
<body>
    @for (int i = 0; i <= @count; i++)
    {
    string font = $"{count-i}px";

    <li style="font-size: @font;">
        @word
    </li>
    }
</body>
</html>
